@import url('https://fonts.googleapis.com/css?family=Baloo+2&display=swap');
*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background:  #c89666;
  font-family: 'Baloo 2', cursive;
}

.box
{
  color: white;
  background-color:#12343b;
  box-shadow: 10px 10px 40px white;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  width: 500px;
  padding: 50px;
  max-width: 1000px;
  max-height: 1000px;
  transform: translate(-50%, -50%);
}

.box, .body-box
{
  margin-top: 50px;
  text-align: center;
}
.btn
{
  background-color:#12343b;
}
.btn:hover{
  background-color:#2d545e;
}
.footer
{

  bottom: 0;
  font-size: 75%;
  padding: 5px;
}
